namespace App\Http\Controllers;

use Clicalmani\Flesco\Http\Controllers\RequestController as Controller;
use Clicalmani\Flesco\Http\Requests\Request;
use Clicalmani\Flesco\Http\Response\Response;
use $model_class;

class $controller extends Controller
{
    /**
     * Display a listing of the resource.
     *
     * @param \\$model_class $$parameter
     * @return \Clicalmani\Flesco\Http\Response\JsonResponse
     */
    public function index($resource $$parameter)
    {
        // Your code
    }

    /**
     * Store a newly created resource in storage.
     *
     * @param \\$model_class $$parameter
     * @param  \Clicalmani\Flesco\Http\Requests\Request  \$request
     * @return \Clicalmani\Flesco\Http\Response\JsonResponse
     */
    public function store($resource $$parameter, Request \$request)
    {
        // Your code
    }

    /**
     * Display the specified resource.
     *
     * @param \\$model_class $$parameter
     * @return \Clicalmani\Flesco\Http\Response\JsonResponse
     */
    public function show($resource $$parameter)
    {
        // Your code
    }

    /**
     * Update the specified resource in storage.
     *
     * @param \\$model_class $$parameter
     * @param  \Clicalmani\Flesco\Http\Requests\Request  \$request
     * @return \Clicalmani\Flesco\Http\Response\JsonResponse
     */
    public function update($resource $$parameter, Request \$request)
    {
        // Your code
    }

    /**
     * Remove the specified resource from storage.
     *
     * @param \\$model_class $$parameter
     * @return \Clicalmani\Flesco\Http\Response\JsonResponse
     */
    public function destroy($resource $$parameter)
    {
        // Your code
    }
}
